.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
    .logo {
      font-size: 20px;
      font-weight: bold;
    }
  
    
      input {
        padding: 5px;
        margin-left: 10px;
      }
    
  
    .auth-icon{
      font-size: 30px;
      padding: 5px;
      margin-left: 10px;
    }
  