footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4b4a4a;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.social-icons {
  margin-top: 10px;
}

.social-icons > svg {
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
}