.content{ 
  
  }
  .grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 10px;
    
  }
  .image{
      width: 280px;
      height: 270px;
     object-fit: cover;
  }
  h1{
    font-size: 14px;
    color: black;
    
  }
  .main{
      padding-top: 1px;
      background-color: rgb(193, 195, 197);
      height: 35px;
      display: flex;
     list-style-type: none;
      align-items: center;
      justify-content: space-around;
  }
  img{
      width: 280px;
      height: 200px;
      object-fit: cover;
  }
  h2{
      text-align: center;
     
  }
  p{
      background-color: aliceblue;
  }
  .btn{
      background-color: aliceblue;
      color: brown;
  }