.content{
    margin: 0 70px;
width: 250px;
height: 350px;
background-color: rgb(15, 15, 15);
}
.main{
    font-size: 20px;
    padding: 10px 30px;
    color: antiquewhite;
}
.list{
   padding: 20px;
   margin: 15px;
}
li{
    list-style-type: none;
}
.link{
    padding: 10px;
   color: #8b8888;
    text-decoration: none;
    list-style-type: none;
}